@import "tailwindcss";

:root{
  --text:#6c7486
}
body {
  font-family: "Arial", sans-serif;
  /* background-color:slategrey; */
  background-color: #fff;
  /* max-width: 100%; */
  overflow-x: hidden;
}


